#cart {
    max-width: 400px;
}

body {
	min-height: 75rem;
	padding-bottom: 70px;
}

.glyphicon-ok-sign {
	/*color: #808080;*/
    font-size: 1.5em;
	top: 5px;
	line-height: 0;
	padding-right: 10px;
}

.cart-item-have {
	color: #00c853;
}

.greyout {
	color: #808080;
	text-decoration: line-through;
}
